body {
	background-color: #2099df;
	text-align: center;
}

.flex-container {
	display: flex;
	padding: 20px;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
}

.caja {
	border: 1px solid #0f0080;
	background-color: white;
	color: black;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	width: 1000px;
	height: 150px;
	margin: 15px;
	text-align: justify;
}